@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=Khand:wght@500;700&family=Palanquin&display=swap');
:root {
    --primary: #DD660D;
    --secondary: #4F0205;
    --accent: #E9E2C7;
    --primary-light: #EA9D64;
    --secondary-light: #9D3237;
    --accent-light: #FFFBEC;
    --primary-dark: #984100;
    --secondary-dark: #330002;
    --accent-dark: #C3BC9E;
    --gray100: #F9F0EA;
    --gray300: #CCBAAD;
    --gray500: #99877A;
    --gray700: #59493E;
    --gray900: #261C15; 
    --light-overlay: rgba (195,188,158,.20);
    --dark-overlay: rgba (18,1,2,.80);
}
* {
    margin:0;
    padding:0;
}

body {
    background-color: var(--accent);
}

html {
    scroll-behavior: smooth; 
}

/* fonts */

h1 {
    font-family: 'Khand', sans-serif;
    font-weight: 700;
    font-size: 350px;
    text-transform: uppercase;
    color: var(--primary);
}

h2 {
    font-family: 'Flamenco', serif;
    font-weight: 400;
    font-size: 96px;
    color: var(--accent); 
    margin: 40px 0; 
}

h3 {
    font-family: 'Khand', sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 70%;
    color: var(--secondary-light);
}

h4 {
    font-family: 'Flamenco', serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 125%;
}

p {
    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

/* button */
button {
    font-family: 'Khand', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--accent);
    margin: 2em 0;
    padding: 2px 8px;
    background-color: var(--secondary-light);
    border: none;
    border-radius: 2%;
    cursor: pointer;
    color: var(--accent);
}

button:hover {
    background-color: var(--primary);
    color: var(--accent);
    /* transform: translateX(10px); */
}

/* back button */

.back-btn a {
    font-size: 2em;
}
  
.back-btn {
    position: fixed; 
    right: 15px; 
    bottom: 15px; 
  }

/* titles */

.title {
    display: flex;
    flex-direction: column;
    margin: 1em;
}
/* this is to fix the line spacing on the font Khand */
h1 {
    margin: -150px 0;
}

.title h1 {
    text-align: center;
}

.title-center {
    text-align: center;
}

.title-left {
    text-align: left;
}

span {
    text-transform: lowercase;
    display: inline-flex;
}

/* navigation bar */
nav {
   background: var(--secondary-dark);
   position: sticky;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: right; 
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: var(--accent);
    font-family: 'Khand', sans-serif;
    font-size: 36px;
    font-weight: 500;
    padding: .5em;
    text-transform: uppercase;
}

nav a:hover {
    color: var(--primary)
}

.logo {
    display: flex;
    padding: 2%;
}

/* hero section */
.hero {
    background-image: url(images/hero-pic.jpg);
    height: 110vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-type {
    width: 40%;

}

.hero-type img {
    width: 100%;
}

/* what section */

.what-sec {
    background-image: url(images/what-pic.jpg);
    height: 100vh; 
    background-size: cover;
    padding: 10%;
}

.what-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background: var(--accent-dark);
    padding: 40px;
}

.what-all-cards {
    display: flex;
    justify-content: center; 
    align-items: stretch;
    gap: 16px;
}


.what-card-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.what-card h3 {
    margin: 0.5em;
}

.what-card-icon {
    margin: 2em;
}

/* how section */
.how-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    height: 80vh;
    padding: 10%;
}

.how-sec h2 {
    color: var(--secondary);
}

.words h4 {
    max-width: 755px;
    padding: 20px 40px;
    background-color: var(--accent-dark);
}

/* taste section */
.taste-sec {
    background-image: url(images/taste-pic.jpg);
    height: 100%;
    background-size: cover;
    padding: 10%;
}

.taste-title-center {
    display: flex;
    justify-content: left;
}

.all-taste-cards {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2em;
    padding-top: 10%;
}

/* .taste-card {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2em;
    padding-top: 10%;
} */

.taste-card {
    display: flex; 
    justify-content: left;
    align-items: center;
}

/* .taste-words, h3{
    line-height: 1em;
}

.taste-words {
    height: 100%;
}

.taste-img img {
    height: 100%;
} */

.taste-spice {
    grid-column: 1 / 4;
    background-color: var(--primary);
}

.taste-sweet {
    grid-column: 1 / 5;
    background-color: var(--secondary);
}

.taste-nuts {
    grid-column: 1 / 6;
    background-color: var(--gray500);
}

/* brew section */
.brew-sec {
    margin: 10%;
}

.brew-sec h2 {
    color: var(--secondary);
}

.all-brew-card {
    display: grid;
    flex: 4;
    /* max-width: 40em; */
    justify-content: center;
    /* align-items: stretch;  */
    grid-gap: 20px;
    grid-template-columns: repeat(2, 30em);
    margin: 10%;
}

.brew-card {
    text-align: center;
    background-color: var(--accent-dark);
    padding: 2em;
    flex: 4;
}

/* buy section */
.buy-sec {
    text-align: center;
    margin: 10%;
}

.buy-sec h2 {
    color: var(--secondary-dark);
}

/* footer */
footer {
    background-color: var(--secondary-dark);
    padding: 10%;
    display: flex;
    align-items: center;
    flex: 10;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.social {
    display: inline-flex;
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 4em;
}

.rights {
    color: var(--accent-light);
    display: flex;
    justify-content: center;
}

.other-products {
    color: var(--accent-light);
    flex: 1;
}

.center-items {
    flex: 9;
    align-items: center;
}

